@global-color: #fcfcfc;
@global-background: #1d1d1e;

@global-emphasis-color: darken(@global-color, 20%);
@global-menu-background-color: darken(@global-background, 3%);

@global-link-color: #0096df;
@global-link-hover-color: darken(@global-link-color, 10%);

@global-success-color: #adf700;
@global-info-color: #ffff00;
@global-warning-color: #ff4917;

@global-random-text-color: #35c09b;

@global-selection-background: darken(@global-background, 10%);
@global-selection-color: @global-color;

@global-scroll-background-color: darken(@global-color, 70%);
@global-scroll-hover-background-color: darken(@global-color, 60%);

@global-navbar-nav-item-color: darken(@global-color, 20%);
@global-navbar-nav-item-hover-color: @global-color;
@global-navbar-nav-item-onclick-color: @global-color;
