.footer {
  ul {
    list-style-type: none;
    li {
      margin-right: @global-footer-margin;
      display: inline-block;
    }
  }

  .links {
    font-size: (@global-font-size * 0.9);
  }

  .policies {
    font-size: (@global-font-size * 0.8);
  }

  .copyright {
    font-size: (@global-font-size * 0.7);
    .sentence {
      color: @global-random-text-color;
    }
  }
}
