.hook-navbar-container {
  background: @global-menu-background-color;
  border-radius: @global-border-radius;
}

.hook-navbar-nav-item {
  color: @global-navbar-nav-item-color;
}

.hook-navbar-nav-item-hover {
  color: @global-navbar-nav-item-hover-color;
}

.hook-navbar-nav-item-onclick {
  color: @global-navbar-nav-item-onclick-color;
}
